@font-face {
  font-family: 'arcade-atari';
  src: url('atari-webfont.eot');
  src: url('atari-webfont.eot?#iefix') format('embedded-opentype'),
  url('atari-webfont.woff2') format('woff2'),
  url('atari-webfont.woff') format('woff'),
  url('atari-webfont.ttf') format('truetype'),
  url('atari-webfont.svg#atari_font_full_versionRg') format('svg');
  font-weight: normal;
  font-style: normal;
}